:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan1: hsl(184, 14%, 56%);
    --light-grayish-cyan1: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --tip-person-amount: hsl(172, 62%, 47%);
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-size: 16px;
    background-color: var(--light-grayish-cyan1);
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    height: 100vh;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tip-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    background-color: var(--white);
    border-radius: 1rem;
    margin-top: 3rem;
    padding: 1rem;
}

.input{
    text-align: right;
    height: 2rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 24px;
    color: var(--very-dark-cyan);
}

.iconoInput {
    color: #e8e8e8;
    font-size: 15px;
    position: absolute;
    margin-left: 1rem;
    padding-top: 7px;
}
    .inputPadding {
    padding-left: 40px;
}

.amount {
    width: 40%;
    padding-left: 1rem;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border-radius: 1rem;
}

.tipAmount, .totalTip {
    font-weight: 700;
    h4, p {
        font-weight: 400;
        font-size: 0.75rem;
        color: var(--dark-grayish-cyan1);
    }
}

.tip-person {
    color: var(--tip-person-amount);
}